<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
<Title>Petty Pet</Title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
<link rel="stylesheet" href="static/stylesheet_about.css">

</head>

<body>

<div class="top_menu">

    <a class="petty_pet" href="/home">
        <div class="petty_pet_icon">
            <img src="static/petty_logo.jpg" width="auto" height="45">
        </div>
    </a>
    <a class="home" href="/home">
        <div class="home_icon">
            <img src="static/home_icon.jpg">
        </div>
    </a>
    <a class="jokes" href="/jokes">
        <div class="jokes_icon">
            <img src="static/jokes_icon.jpg">
        </div>
    </a>
    <a class="active" href="/about">
        <div class="about_icon">
            <img src="static/about_icon.jpg">
        </div>
    </a>
    <a class="sign_out" href="/sign-out">
        <div class="sign_out_icon">
            <img src="static/sign_out_icon.jpg">
        </div>
    </a>

</div>

<p style="text-align:right; font-size:15px; margin-right:20px;">Signed in as: "{{username}}"<p>

<br>
  
<p style="text-align:center; font-size: 50px">About Petty Pet</p>

<p style="text-align:center; line-height: 1.5; padding: 2em 15em">
    Petty Pet is a game on a website where you are supposed to check in on and take care of a digital lemur to keep it alive for as long as possible. 
    Your pet on the website will only survive as long as it gets enough food, sleep and consideration. 
    The purpose of the game is for you to have a wholesome and entertaining experience while you are killing time and procrastinating.<br><br>
    To get started with the game you first need to sign up by creating an account. When you sign up you can name your pet to any name you would like to make the pet more personal. 
    When your account is created you can sign in whenever you want to play the game.<br><br>
    In order to keep your pet alive and happy you have to interact by feeding it, making it sleep and pet it regularly by signing in on your account daily. 
    If your pet looks angry it means that it will need more food, sleep or consideration to stay alive. 
    But to know exactly what your pets’ needs are you will have to go through trial-and-error to find out.<br><br>
    In the game there is a limit for how many times each user interaction can be done within a specified time period. 
    If you for example try to feed your pet when it is fully fed then you need to wait a bit before you can feed it again.<br><br>
    When you interact with your pet, it will reward your kindness each time by saying a random funny joke. 
    You will also be able to contribute with your own jokes that will be stored in the program so that your pet can tell them after it has been fed, 
    sleeping or petted.<br><br> To make the game more fun you can share your account with your friends and family so you can tell inside jokes to each other
    and take care of your pets together. If you sometimes have something else to do you can let your friends and family help you out with your pet.<br><br> Your pet runs
    on a timer that tracks its mood and if the pet goes too long without enough food, sleep or consideration it will eventually die. 
    If your pet dies you need to restart the game by signing up with a new account.
</p>

<h2 style="text-align:center; line-height: 1.5">Group Members</h2>

<p style="text-align:center; line-height: 1.5">
    Leader: Ebba Björnström<br>
    Member 2: Isabelle Teglund<br>
    Member 3: Anna Nordström<br>
    Member 4: Christoffer Sjölund<br>
</p>

<br><br>

</body>

</html>
