<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
<Title>Petty Pet</Title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
<link rel="stylesheet" href="static/stylesheet_about.css">

</head>

<body>

<div class="top_menu">

    <a class="petty_pet" href="/home">
        <div class="petty_pet_icon">
            <img src="static/petty_logo.jpg" width="200" height="50">
        </div>
    </a>
    <a class="home" href="/home">
        <div class="home_icon">
            <img src="static/home_icon.jpg">
        </div>
    </a>
    <a class="jokes" href="/jokes">
        <div class="jokes_icon">
            <img src="static/jokes_icon.jpg">
        </div>
    </a>
    <a class="active" href="/about">
        <div class="about_icon">
            <img src="static/about_icon.jpg">
        </div>
    </a>
    <a class="sign_out" href="/sign-out">
        <div class="sign_out_icon">
            <img src="static/sign_out_icon.jpg">
        </div>
    </a>

</div>

<p style="text-align:right; font-size:15px; margin-right:20px;">Signed in as: "{{username}}"<p>

<br>
  
<p style="text-align:center; font-size: 50px">About Petty Pet</p>

<p style="text-align:center; line-height: 1.5; padding: 2em 15em">
    We are making a digital pet that users check in on and take care of in order to keep it happy.
    The pet will be available from a website.
    The interactions that the user can do with the pet is feed the pet, pet the pet,
    make it sleep.
    When the user interacts with the pet, the pet will reward the user’s kindness with a joke.
    If the user mistreats their pet then its mood will be too cranky for jokes.
    Users will be able to contribute with jokes themselves.
    The input of the users will be stored in a collective “joke bank”,
    which makes one's pet tell jokes that other users have contributed.
    The goal is to keep the pet alive.
    If a pet is not taken care of, it will die. When it’s born anew,
    it will have lost all its previous knowledge.</p>

<h2 style="text-align:center; line-height: 1.5">Group Members</h2>

<p style="text-align:center; line-height: 1.5">
    Leader: Ebba Björnström<br>
    Member 2: Isabelle Teglund<br>
    Member 3: Anna Nordström<br>
    Member 4: Christoffer Sjölund<br>
</p>

</body>

</html>
