<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">

</script>
<Title>Petty Pet</Title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
<link rel="stylesheet" href="static/stylesheet_home.css">

</head>

<body onload="updateClock; setInterval(updateClock(), 1000 )">

<div class="top_menu">

    <a class="petty_pet" href="/home">
        <div class="petty_pet_icon">
            <img src="static/petty_logo.jpg" width="200" height="50">
        </div>
    </a>
    <a class="active" href="/home">
        <div class="home_icon">
            <img src="static/home_icon.jpg">
        </div>
    </a>
    <a class="jokes" href="/jokes">
        <div class="jokes_icon">
            <img src="static/jokes_icon.jpg">
        </div>
    </a>
    <a class="about" href="/about">
        <div class="about_icon">
            <img src="static/about_icon.jpg">
        </div>
    </a>
    <a class="sign_out" href="/sign-out">
        <div class="sign_out_icon">
            <img src="static/sign_out_icon.jpg">
        </div>
    </a>

</div>

<p style="text-align:right; font-size:15px; margin-right:20px;">Signed in as: "{{username}}"<p>
 
<p style="text-align: center; font-size: 50px;">{{pet_name}}</p>

<div class="row1">

    <div class="column left">
        <input id="pet_image" type="image" src="static/sleep.gif" height="300" width="300">
    </div>
    <div class="column right" id="output_bubble">
        <div class="output_container">
            <img src="static/output_bubble.gif" height="auto" width="300">
            <div class="output_text">
                <div id="output_text">Hello! <br><br>
                    My name is {{pet_name}}. <br><br>
                    You can click on the buttons to take care of me.</div>
            </div>
        </div>
    </div>
</div>

<div class="row2">

  <div class="column">
      <button class="feed_button">
          <div class="btn btn-primary tooltip">
              <input type="image" src="static/feed_button.jpg" onclick="interaction(1)" height="70" width="auto">
              <div class="bottom">
                  <p>Feed the pet</p>
                  <i></i>
              </div>
          </div>
      </button>
  </div>

  <div class="column">
      <button class="sleep_button">
          <div class="btn btn-primary tooltip">
          <input id="sleep_button" type="image" src="static/sleep_button.jpg" onclick="interaction(2)" height="70" width="auto">
              <div class="bottom">
                  <p>Good night</p>
                  <i></i>
              </div>
          </div>
      </button>
  </div>

  <div class="column">
      <button class="pet_button">
          <div class="btn btn-primary tooltip">
          <input id="pet_button" type="image" src="static/pet_button.jpg" onclick="interaction(3)" height="70" width="auto">
              <div class="bottom">
                  <p>Pet the pet</p>
                  <i></i>
              </div>
          </div>
      </button>
  </div>

</div>

<script>


function updateClock() {
    interaction(0)
    console.log("uppdaterar")
    setTimeout(updateClock, 10000)
    }

function changeToDead() {
    document.getElementById("pet_image").src = "static/tombstone.png";     
    document.getElementById("output_text").innerHTML = "Thanks. I'm dead now.";
}

function interaction(val) {
        // change level of fullnes by calling for tryFeed in food_level.py. Has now been implemented.
        var user_action = val
        $.ajax(
            {
                url: "/home_1",
                type: "POST",
                data: {  
                    user_action: user_action
                }
          }).done((response) => {
            //var html = "<p> RESULT : </p>";
            response = response.result;
            console.log(response)
            feed = response["Feed"];
            //
            food_level = response["Food_level"]
            //
            sleep = response["Sleep"]
            pet = response["pet"];
            //
            mood = response["Mood"];
            console.log(mood);
            joke = response["Joke"];
            button = response["button"];
                       
            //buildup = response["buildup"]
            //punchline = response["punchline"]
            // joke = buildup + "\n" + punchline
            //sleep = false;
            //pet = false;
            gif_chooser(mood,feed, sleep, pet, joke, food_level, button)
        });
    };



function gif_chooser(mood, feed, sleep, pet, joke, food_level, button) {           //Lade till foodlevel och button för refuse
    if (mood == "dead") {
        changeToDead();
        }

    // REFUSE GIF
    else if (feed == false && button == 1) {           
        changeToRefuse();
        }
    else if (sleep == false && button == 2) {
        changeToRefuse();
    }
    else if (pet == false && button == 3) {
        changeToRefuse();
    }

    // INTERACTION GIFS

    else if (feed == true) {
        changeToEating(joke);
        }
    else if (sleep == true) {
        changeToSleeping(joke);
        console.log("changetosleeping blir kallad!");
        }
    else if (pet == true) {
        changeToPet(joke);
    } 

    // IDLE GIFS

    else {
        if (mood == "happy") {                 //VRF går den in i både happy och angry??
            changeToHappy();
            console.log(mood =="happy");
            console.log(mood);
        }
        else if (mood == "angry") {
            changeToAngry(); 
            console.log("Looks at CTAngry");
            console.log(mood);
        }
    
}}

function changeToRefuse() {
    document.getElementById("pet_image").src = "static/refuse.gif";
    document.getElementById("output_text").innerHTML = "No thanks. I'm good." ;
    console.log("*skakar på huvudet*");
    // to get back to the idle gif
    
    window.setTimeout(function() {interaction(0)}, 2500);
}

    function changeToEating(joke) {
    
    // let the lemur eat and let it say thank you.
    document.getElementById("pet_image").src = "static/eating.gif";
    document.getElementById("output_text").innerHTML = "Nom nom nom!" ;
    window.setTimeout(function() {document.getElementById("output_text").innerHTML = "Thank you for feeding me! Here's a little joke for you...";}, 4000);

    //prepare joke
    var buildup = joke[0];
    var punchline = joke[1];
    
    window.setTimeout(function() {document.getElementById("pet_image").src = "static/happy.gif"}, 8000);
    // first, tell buildup
    window.setTimeout(function() {document.getElementById("output_text").innerHTML = buildup;}, 8000);
    // then, tell punchline after 4000 milliseconds.
    var full_joke = buildup.concat("<br><br>", punchline);
    window.setTimeout(function() {document.getElementById("output_text").innerHTML = full_joke}, 12000);
    // go back to ordinary text after 4000 milliseconds.
    window.setTimeout(function() {interaction(0)}, 16000);
}



function changeToSleeping(joke) {
    document.getElementById("pet_image").src = "static/sleep.gif";
    document.getElementById("output_text").innerHTML = "I'm going to sleep. Good night!";
    window.setTimeout(function() {document.getElementById("output_text").innerHTML = "Zzz...";}, 4000);

    window.setTimeout(function() {document.getElementById("pet_image").src = "static/happy.gif"}, 16000);    
    window.setTimeout(function() {document.getElementById("output_text").innerHTML = "*yawn* Good morning..! I came up with a joke in my dreams while I slept... I hope you'll like it."}, 16000);

    //prepare joke
    var buildup = joke[0];
    var punchline = joke[1];

    console.log(buildup)

    // first, tell buildup
    window.setTimeout(function() {document.getElementById("output_text").innerHTML = buildup;}, 20000);
    // then, tell punchline after 4000 milliseconds.
    var full_joke = buildup.concat("<br><br>", punchline);
    window.setTimeout(function() {document.getElementById("output_text").innerHTML = full_joke}, 24000);
    // go back to ordinary text after 4000 milliseconds.
    window.setTimeout(function() {interaction(0)}, 28000);
}


function changeToPet(joke) {
    document.getElementById("pet_image").src = "static/pet.gif";
    document.getElementById("output_text").innerHTML = "Thanks for petting me!";
    //normal_text = "Hello!<br><br>You can click on the buttons to take care of me."
    //window.setTimeout(function() {document.getElementById("output_text").innerHTML = normal_text}, 8000);
    
    // Preare joke
    var buildup = joke[0];
    var punchline = joke[1];
    // first, tell buildup
    console.log(punchline)
    window.setTimeout(function() {document.getElementById("output_text").innerHTML = buildup;}, 4000);
    // then, tell punchline after 4000 milliseconds.
    var full_joke = buildup.concat("<br><br>", punchline);
    window.setTimeout(function() {document.getElementById("output_text").innerHTML = full_joke}, 8000);
    window.setTimeout(function() {interaction(0)}, 12000);    
}


function changeToHappy() {
    document.getElementById("pet_image").src = "static/happy.gif";
    console.log("goes inside changeToHappy...")
    document.getElementById("output_text").innerHTML = "Hello!<br><br>You can click on the buttons to take care of me.";
}
function changeToAngry(){
    document.getElementById("pet_image").src = "static/angry.gif";
    document.getElementById("output_text").innerHTML = "I'm not going to tell any more jokes until you take care of me.<br><br>You should click on the buttons. Or else.";
}
</script>


</body>

</html>
