<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
<Title>Petty Pet</Title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
<link rel="stylesheet" href="static/stylesheet_jokes.css">
  
</head>

<body>

<div class="top_menu">

    <a class="petty_pet" href="/home">
        <div class="petty_pet_icon">
            <img src="static/petty_logo.jpg" width="200" height="50">
        </div>
    </a>
    <a class="home" href="/home">
        <div class="home_icon">
            <img src="static/home_icon.jpg">
        </div>
    </a>
    <a class="active" href="/jokes">
        <div class="jokes_icon">
            <img src="static/jokes_icon.jpg">
        </div>
    </a>
    <a class="about" href="/about">
        <div class="about_icon">
            <img src="static/about_icon.jpg">
        </div>
    </a>
    <a class="sign_out" href="/sign-out">
        <div class="sign_out_icon">
            <img src="static/sign_out_icon.jpg">
        </div>
    </a>

</div>

<p style="text-align:right; font-size:15px; margin-right:20px;">Signed in as: "{{username}}"<p>

<p style="text-align: center; font-size: 50px;">{{pet_name}}</p>

<div class="row1">

    <div class="column left">
        <input id="pet_image" type="image" src="static/happy.gif" height="300" width="300">
    </div>
    <div class="column right" id="output_bubble">
        <div class="output_container">
            <img src="static/output_bubble.gif" height="auto" width="300">
            <div class="output_text">
                <div id="output_text">Hello! <br><br>
                    My name is {{pet_name}}. <br><br>
                    Send me a funny joke and you will get points.</div>
            </div>
        </div>
    </div>
</div>

<form action = "/jokes" method="post">
    <div class="container">
        <label><b>Build up</b></label>
        <input type="text" placeholder="Enter build up" name="build_up">

        <label><b>Punch line</b></label>
        <input type="text" placeholder="Enter punch line" name="punch_line">

        <div class="clearfix">
            <button type="submit" onclick="location.href='jokes'" class="send_button">Send</button>
        </div>
    </div>
</form>

<br><br>
<!--    <div style="background-color: blue; color: white;"id="talking_box">-->
<!--        <p id="joke"></p>-->
<!--        <p id="buildup"></p>-->
<!--        <p id="punchline"></p>-->
<!--    </div>-->

</body>

</html>
