<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<Title>Petty Pet</Title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
<link rel="stylesheet" href="static/stylesheet_sign_in.css">

<body>

<div class="split left">
  <div class="centered">
    <img src="static/pet_happy.jpg" height="600" width="600">
  </div>
</div>

<div class="split right">
    <h1 style="text-align:center; font-size:40px;">Petty Pet</h1>
    <h2 style="text-align:center; font-size:16px;">Welcome back! Let's log in on your account</h2><br/>

    <form action="/login" method="post" style="border:1px solid #ccc">

        <div class="container">

            <label><b>Username</b></label>
            <input type="text" placeholder="Enter username" name="username" required>

            <label id="password"><b>Password</b></label>
            <input type="password" placeholder="Enter password" name="password" required>
          
            <p style="text-align:center; color: red">{{message}}</p>

        </div>

            <div class="clearfix">
                 <button type="submit" class="sign_in_button" value="submit">Sign in</button>
             </div>
        <br/><br/>
    </form>

</div>

</body>

</html>
